2024-Multi-frequency-DUC/matlab/slprj/
2024-Multi-frequency-DUC/matlab/hdlsrc/DUC/html
2024-Multi-frequency-DUC/matlab/hdl_prj/
2024-Multi-frequency-DUC/matlab/pic/
2024-Multi-frequency-DUC/matlab/codegen/
2024-Multi-frequency-DUC/matlab/.vs/

2024-Multi-frequency-DUC/db/
2024-Multi-frequency-DUC/test/

2024-Multi-frequency-DUC/q_lite/incremental_db/
2024-Multi-frequency-DUC/q_lite/db/
2024-Multi-frequency-DUC/q_lite/simulation/
2024-Multi-frequency-DUC/q_lite/output_files/
2024-Multi-frequency-DUC/q_lite/greybox_tmp/

2024-Multi-frequency-DUC/vivado/DUC_AM_ZYNQ/DUC_AM_ZYNQ.cache/
2024-Multi-frequency-DUC/vivado/DUC_AM_ZYNQ/DUC_AM_ZYNQ.hw/
2024-Multi-frequency-DUC/vivado/DUC_AM_ZYNQ/DUC_AM_ZYNQ.ip_user_files/
2024-Multi-frequency-DUC/vivado/DUC_AM_ZYNQ/DUC_AM_ZYNQ.sim/
2024-Multi-frequency-DUC/vivado/DUC_AM_ZYNQ/DUC_AM_ZYNQ.runs/
2024-Multi-frequency-DUC/vivado/DUC_AM_ZYNQ/DUC_AM_ZYNQ.gen/
2024-Multi-frequency-DUC/vivado/DUC_AM_ZYNQ/DUC_AM_ZYNQ/vitis/

*.log
*.html
*.svg
*.json
*.js
*.asv
*.slxc
*.pkf
*.xml
*.bsf
*.ddb
*.qsf
